<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div th:fragment="componente-menulateral">
    <div class="flex-shrink-0 p-3 position-fixed start-0">
        <a th:href="@{~/home}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-5 fw-semibold"></span>
            <img src="http://localhost:8080/getEpiNavbar.png" alt="GetEPI" class="hover-img">
        </a>
        <ul class="list-unstyled ps-0">
            <li class="nav-item active">
                <a th:href="@{~/home}" class="btn btn-outline-light me-2" style="border-color: transparent !important;">
                    <i class="fa fa-home fa-1x text-bs-gray-700 pe-1"></i>
                    Home</a>
            </li>
            <li class="nav-item">
                <a th:href="@{~/listausuario}" class="btn btn-outline-light me-2" style="border-color: transparent !important;">
                    <i class="fa fa-users fa-1x text-bs-gray-700 pe-1"></i>
                    Usuários</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-outline-light me-2 dropdown-toggle" style="border-color: transparent !important; font-size: 22px;" type="button" id="dropdownMenuButtonColaborador" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-address-card fa-1x text-bs-gray-700 pe-1"></i>
                         Colaboradores
                    </button>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButtonColaborador">
                        <a class="dropdown-item" th:href="@{~/listacolaboradores}">
                            <i class="fa fa-list fa-1x text-bs-gray-700 pe-1"></i>
                            Lista de colaboradores</a>

                        <a class="dropdown-item" th:href="@{~/listafuncao}">
                            <i class="fa fa-briefcase fa-1x text-bs-gray-700 pe-1"></i>
                            Lista de funções</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-outline-light me-2 dropdown-toggle" style="border-color: transparent !important; font-size: 22px;" type="button" id="dropdownMenuButtonEPIs" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-headphones fa-1x text-bs-gray-700 pe-1"></i>
                         EPIs
                    </button>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButtonEPIs">
                        <a class="dropdown-item" th:href="@{~/listaEPI}">
                            <i class="fa fa-list fa-1x text-bs-gray-700 pe-1"></i>
                            Lista de EPIs</a>
                        <a class="dropdown-item" th:href="@{~/listatipoequipamento}">
                            <i class="fa fa-fire-extinguisher fa-1x text-bs-gray-700 pe-1"></i>
                            Tipo de equipamento</a>
                        <a class="dropdown-item" th:href="@{~/visualizarquantidadeepi}">
                            <i class="fa fa-cubes fa-1x text-bs-gray-700 pe-1"></i>
                            Quantidade EPI's</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-outline-light me-2 dropdown-toggle" style="border-color: transparent !important; font-size: 22px;" type="button" id="dropdownMenuButtonEmprestimo" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-handshake-o fa-1x text-bs-gray-700 pe-1"></i>
                        Empréstimos
                    </button>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButtonEmprestimo">
                        <a class="dropdown-item" th:href="@{~/listaemprestimo}">
                            <i class="fa fa-list-ol text-bs-gray-700 pe-1"></i>
                            Lista de empréstimos</a>
                        <a class="dropdown-item" th:href="@{~/listadevolucao}">
                            <i class="fa fa-history fa-1x text-bs-gray-700 pe-1"></i>
                            Pendentes de devolução</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a th:href="@{~/listausuario}" class="btn btn-outline-light me-2" style="border-color: transparent !important;">
                    <i class="fa fa-exchange fa-1x text-bs-gray-700 pe-1"></i>
                    Movimentações</a>
            </li>
            <li class="nav-item">
                <div class="ml-auto">

                    <a th:href="@{~/login}" class="btn btn-outline-light me-2" style="border-color: transparent !important;">
                        <i class="fa fa-sign-out fa-1x text-bs-gray-700 pe-1"></i>
                        Sair</a>
                </div>
            </li>
        </ul>
    </div>

</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</body>
</html>